
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.post-card {
    width: 500px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    direction: rtl;
}

.author {
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    color: #333;
}

.post-image {
    width: 100%;
    display: block;
}

.post-title {
    margin: 15px 12px 5px;
    font-size: 20px;
    color: #222;
}

.post-content {
    margin: 0 12px 15px;
    font-size: 15px;
    line-height: 1.7;
    color: #444;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 10px;
    font-size: 13px;
}

.date {
    color: gray;
}

.category {
    color: #3498db;
    font-weight: bold;
}

.card button {
    border: none;
    background: #3498db;
    color: #fff;
    padding: 10px 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .card button:hover {
        background: #217dbb;
    }
.post-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.edit-btn
 {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.edit-btn {
    background: #3498db;
}

    .edit-btn:hover {
        background: #217dbb;
    }